<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center p-5 gap-3"
>
  {{#if active}}
    <div class="card text-bg-dark">
      <img
        src="{{active.thumbnails}}"
        class="card-img"
        alt="{{active.title}}"
      />
      <div class="card-img-overlay">
        <h5 class="card-title">{{active.title}}</h5>
        <p class="card-text">{{active.description}}</p>
        <p class="card-text"><small>$ {{active.price}}</small></p>
        <a href="/products/{{active.id}}" class="stretched-link"></a>
      </div>
    </div>
  {{/if}}
  <div
    class="container-fluid d-flex flex-wrap justify-content-evenly align-items-center gap-5"
  >
    {{#each products}}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{this.thumbnails}}"
              class="img-fluid rounded-start"
              alt="{{this.title}}"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <p class="card-text">{{this.description}}</p>
              <p class="card-text"><small class="text-body-secondary">$
                  {{this.price}}</small></p>
              <a href="/products/{{this.id}}" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>