<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center p-5 gap-3"
  style="min-height: 100vh;"
>

  <div class="card text-bg-dark">
    <img
      src="{{product.thumbnails}}"
      class="card-img"
      alt="{{product.title}}"
    />
    <div class="card-img-overlay">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.description}}</p>
      <p class="card-text"><small>$ {{product.price}}</small></p>
    </div>
  </div>

</div>